<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Theme Template for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    {#<link href="/css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="/css/bootstrap-theme.min.css" rel="stylesheet">#}
    <link href="https://mdbootstrap.com/previews/docs/latest/css/compiled.min.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color white-text">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect waves-light" href="#">Kitchen <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container theme-showcase" role="main" style="margin-top: 60px">

    {% for room in rooms %}

    <div data-room data-room-name="{{ room.name }}">

        <div class="row">

            {% for unit in room.units %}

                <div class="col-sm-4">

                    {% if unit.class == 'TemperatureSensor' %}

                        <div class="card card-body" data-unit="TemperatureSensor" data-unit-id="{{ unit.id }}">
                            <h3 class="card-title">{{ unit.name }}</h3>
                            <span id="temperature">{{ unit.temperature }}</span>
                        </div>

                    {% endif %}

                    {% if unit.class == 'Switch' %}

                        <div class="card card-body" data-unit="Switch" data-unit-id="{{ unit.id }}">
                            <h3 class="card-title">{{ unit.name }}</h3>

                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox" checked="checked">
                                    <span class="lever"></span> On
                                </label>
                            </div>

                            {#<input type="checkbox" {% if unit.enabled %}checked{% endif %} data-toggle="toggle" name="{{ unit.name }}" data-size="large" data-onstyle="success" data-width="100%">#}
                                {#<input type="range" min="0" max="1" step="1" value="{{ unit.variables.enabled == true ? 1 : 0 }}" name="{{ unit.name }}">#}
                        </div>

                    {% endif %}

                    {% if unit.class == 'Boiler' %}
                        <div class="card card-body" data-unit="Boiler" data-unit-id="{{ unit.id }}">
                            <h3 class="card-title">{{ unit.name }}</h3>
                            <input type="checkbox" {% if unit.enabled %}checked{% endif %} data-toggle="toggle" name="{{ unit.name }}" data-size="large" data-onstyle="success" data-offstyle="warning" data-style="primary" data-width="100%">
                            {#<input type="range" min="0" max="1" step="1" value="{{ unit.variables.enabled == true ? 1 : 0 }}" name="{{ unit.name }}">#}
                        </div>
                    {% endif %}

                </div>

                {% endfor %}

        </div>
        {% endfor %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {#<script src="/js/bootstrap.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>
        var WS_SERVER = "{{ ws_server }}";
    </script>

    <script src="https://unpkg.com/mqtt@2.13.1/dist/mqtt.min.js"></script>
    <script src="{{ asset('js/socket.client.js') }}"></script>

</body>
</html>