<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main" style="margin-top: 60px">
    {% for room in rooms %}
        <div data-room data-room-name="{{ room.name }}">
            <h1>{{ room.name }}</h1>
            <div class="row">
                <div class="col-sm-4">
                    {% for unit in room.units %}
                        {% if unit.class == 'TemperatureSensor' %}
                            <div class="panel panel-primary" data-sensor-name="{{ unit.name }}">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ unit.name }}</h3>
                                </div>
                                <div class="panel-body">
                                    {{ unit.value }}
                                </div>
                            </div>
                        {% endif %}

                        {% if unit.class == 'Switch' %}
                            <div class="panel panel-danger" data-unit="Switch" data-unit-id="{{ unit.id }}">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ unit.name }}</h3>
                                </div>
                                <div class="panel-body">
                                    <input type="range" min="0" max="1" step="1" value="{{ unit.variables.enabled == true ? 1 : 0 }}" name="{{ unit.name }}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    var WS_SERVER = "{{ ws_server }}";
</script>

<script src="https://unpkg.com/mqtt@2.13.1/dist/mqtt.min.js"></script>
<script src="{{ asset('js/socket.client.js') }}"></script>

</body>
</html>