<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Theme Template for Bootstrap</title>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" media="screen,projection">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>

    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">Kitchen</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        {% for room in rooms %}

        <div data-room data-room-name="{{ room.name }}">

            <div class="row">

                {% for unit in room.units %}

                    <div class="col l4 m6 s12">

                        {% if unit.class == 'TemperatureSensor' %}

                            <div class="card" data-unit="TemperatureSensor" data-unit-id="{{ unit.id }}">
                                <div class="card-content">
                                    <span class="card-title">{{ unit.name }}</span>
                                    <span id="temperature">{{ unit.temperature }}</span>
                                </div>
                            </div>

                        {% endif %}

                        {% if unit.class == 'Switch' %}

                            <div class="card" data-unit="Switch" data-unit-id="{{ unit.id }}">
                                <div class="card-content">

                                    <span class="card-title">{{ unit.name }}</span>
                                    <div class="switch">
                                        <label>
                                            Off
                                            <input type="checkbox" {% if unit.enabled %}checked="checked"{% endif %}>
                                            <span class="lever"></span> On
                                        </label>
                                    </div>

                                    {#<input type="checkbox" {% if unit.enabled %}checked{% endif %} data-toggle="toggle" name="{{ unit.name }}" data-size="large" data-onstyle="success" data-width="100%">#}
                                    {#<input type="range" min="0" max="1" step="1" value="{{ unit.variables.enabled == true ? 1 : 0 }}" name="{{ unit.name }}">#}
                                </div>
                            </div>

                        {% endif %}

                        {% if unit.class == 'Boiler' %}
                            <div class="card" data-unit="Boiler" data-unit-id="{{ unit.id }}">
                                <div class="card-content">
                                    <span class="card-title">{{ unit.name }}</span>

                                    <div class="switch">
                                        <label>
                                            Off
                                            <input type="checkbox" {% if unit.enabled %}checked="checked"{% endif %}>
                                            <span class="lever"></span> On
                                        </label>
                                    </div>

                                </div>
                            </div>
                        {% endif %}

                    </div>

                    {% endfor %}

            </div>
            {% endfor %}

        </div> <!-- /container -->
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
        var WS_SERVER = "{{ ws_server }}";
    </script>

    <script src="https://unpkg.com/mqtt@2.13.1/dist/mqtt.min.js"></script>
    <script src="{{ asset('js/socket.client.js') }}"></script>

</body>
</html>